<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.GoogleDataStudioConnector" dependencies="Foundation.Serialization">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\development" useDataCache="false" singleInstance="true" />
          <predicate>
            <include name="GoogleDataStudioConnector.Templates" database="master" path="/sitecore/templates/Data Studio Connector" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>